.toast{
	position:absolute;
	left:10px;
	bottom:10px;
	transform:translateY(80px);
    z-index: 9999999;
	.toast-desc{
	    font-size: 12px;
		line-height:30px;
		padding:0 20px 0 20px;
		background:#040404;
		color:#9c9a9a;;
		border-radius:3px;
	    box-shadow: 1px 1px 7px #1F1F1F;
	}
	&.toast-in{
		transform:translateY(0);
	}
}
.alert{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:999999999;
	.alert-mask{
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		background:rgba(0,0,0,.3);
		display: flex;
	    justify-content:center;
	    align-items:Center;
		.alert-box{
			width:400px;
			background:white;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
			position:relative;
			border-radius:1px;
			max-height:calc(100% - 20px);
			.alert-box-title{
				line-height:40px;
				padding:0 20px 0 20px;
				font-size:14px;
			}
			.alert-box-body{
				padding:0 20px 0 20px;
				font-size:13px;
				.alert-box-input{
					margin-bottom:10px;
					.alert-box-body-c{
						line-height:20px;
						font-size:12px;
						color:#D7D7D7;
					}
					.alert-box-body-a{
						position:relative;
						.alert-box-body-a-a{
							line-height:50px;
							color:#D7D7D7;
							text-align:center;
							margin:0 0 10px 0;
							border:1px dotted #D7D7D7;
						}
						input{
							display:block;
							position:absolute;
							left:0;
							top:0;
							right:0;
							bottom:0;
							opacity:0;
						}
					}
					.alert-box-body-b{
						input{
							box-sizing:border-box;
							width:100%;
							height:30px;
							border:none;
							border-bottom:1px solid #D7D7D7;
							outline:none;
						}
					}
				}
				.alert-box-tabs{
					.alert-box-tabs-title{
						line-height:30px;
						color:#D7D7D7;
						cursor:default;
						.alert-box-tabs-title-item{
							display:inline-block;
							padding:0 15px 0 15px;
							&.active{
								color:#000000;
								font-weight:bold;
							}
						}
					}
					.alert-box-tabs-content{
						.alert-box-tabs-content-item{
							display:none;
							&.active{
								display:block;
							}
						}
					}
				}
			}
			.alert-box-foot{
				text-align:right;
				line-height:40px;
				.alert-box-foot-btn{
					display:inline-block;
					vertical-align:top;
					padding:0 20px 0 20px;
					font-size:13px;
					cursor:default;
				}
			}
		}
	}
}
.chouti{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:999999999;
	.chouti-mask{
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
	}
	.chouti-box{
		width:400px;
		background:white;
	    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    	border-radius: 2px;
		position:absolute;
		left:0;
		top:0;
		bottom:0;
		transform:translateX(-100%);
		.chouti-box-title{
			line-height:45px;
			padding:0 20px 0 20px;
			font-size:15px;
			position:absolute;
			top:0;
			left:0;
			right:0;
		}
		.chouti-box-body{
			padding:0 20px 0 20px;
			font-size:13px;
			position:absolute;
			top:45px;
			right:0;
			left:0;
			bottom:40px;
			overflow:auto;
			.chouti-box-input{
				margin-bottom:10px;
				.chouti-box-body-c{
					line-height:20px;
					font-size:12px;
					color:#D7D7D7;
				}
				.chouti-box-body-a{
					position:relative;
					.chouti-box-body-a-a{
						line-height:50px;
						color:#D7D7D7;
						text-align:center;
						margin:0 0 10px 0;
						border:1px dotted #D7D7D7;
					}
					input{
						display:block;
						position:absolute;
						left:0;
						top:0;
						right:0;
						bottom:0;
						opacity:0;
					}
				}
				.chouti-box-body-b{
					input{
						box-sizing:border-box;
						width:100%;
						height:30px;
						border:none;
						border-bottom:1px solid #D7D7D7;
						outline:none;
					}
				}
			}
			.chouti-box-tabs{
				margin-top:10px;
				.chouti-box-tabs-title{
					line-height:30px;
					color:#D7D7D7;
					cursor:default;
					font-size:14px;
					.chouti-box-tabs-title-item{
						display:inline-block;
						padding:0 20px 0 0;
						&.active{
							color:#000000;
							font-weight:bold;
						}
					}
				}
				.chouti-box-tabs-content{
					.chouti-box-tabs-content-item{
						display:none;
						&.active{
							display:block;
						}
					}
				}
			}
		}
		.chouti-box-foot{
			text-align:right;
			line-height:40px;
			position:absolute;
			left:0;
			bottom:0;
			right:0;
			.chouti-box-foot-btn{
				display:inline-block;
				vertical-align:top;
				padding:0 20px 0 20px;
				font-size:13px;
				cursor:default;
			}
		}
	}
}